body {
    background-image: url(./bg-image-one.jpeg);
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
    color: white;
}

html {
    height: 100%;
}

.fas {
    padding-right: 3px;
}

hr {
    width : 28%;
    border-top : 1px solid #f8f8f8;
    border-bottom : 1px solid rgba(0, 0, 0, 0.2);

}

h1 {
    font-weight: 700;
    font-size: 5em;
}
#content {
    text-align: center;
    padding-top: 20%;
    text-shadow: 0px 4px 3px rgba(15, 12, 12, 0.4),
                0px 8px 13px rgba(0, 0, 0, 0, 0.1),
                0px 18px 23px rgba(0, 0, 0, 0, 0.1);
}